:root {
    background-color: white;
    font-family: "Playfair Display", serif;
    font-style: bold;
    font-size: 20px;
    text-decoration: none;
    overflow: auto;
}
  header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  main {
    text-align: center;
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  a {
    color: gray;
  }
  
  li {
    list-style: none;
  }
  
  .home {
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    padding: 2%;
    border-right: solid 1px;
    text-align: center;
  }