@import url(global.css);

/* GENERAL */

.lightTheme {
    color: var(--color-secundaria);
    background-color: var(--color-primaria);
}

.darkTheme {
    color: var(--color-primaria);
    background-color: var(--color-secundaria);
}

/* =============================== */
/* HEADER */
/* =============================== */

.spanHeaderRightIcons {
    padding: .5rem;
}

.imgHeaderIcons {
    width: 50px;
    height: 50px;
    @media (prefers-color-scheme: light) {
        filter: invert();
    }
}

.imgHeaderLogo {
    max-width: 100%;
    @media (prefers-color-scheme: dark) {
        filter: invert();
    }
}

/* =============================== */
/* MAIN */
/* =============================== */


.imgMainShow {
    max-width: 100%;
} 

.spanMainShow {
    display: inline-block;
}

.divMainModulesExpansion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgMainModulesExpand {
    width: 30px;
    height: 35px;
}

.divMainModules {
    color: var(--color-secundaria);
    background-color: var(--color-primaria);
}

.divMainModulesContent {
    display: none;
    align-items: center;
}

.divMainModulesOne {
    padding: .5rem;
}

.divMainContactsContainer {
    @media (max-width: 375px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 376px) and (max-width: 475px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }   

    display: flex;
    justify-content: center;
}

.divMainOneContact {
    padding: .2rem;
    margin: .1rem 0;
}

/* ============================= */
/* CONFIGURAÇÕES */
/* ============================= */

.divMainConfiguration {
    width: fit-content;
    margin: .6rem;
    padding: .5rem;
    border: 1px solid var(--color-terciaria);
    border-radius: .4rem;
}