/* ========================== */
/* HEADER */
/* ========================== */

/* DIVS */

#divHeader {
    align-items: center;
    padding: .7rem;

    @media (min-width: 1025px) {
        display: flex;
        justify-content: space-between;
    }
}

#divHeaderLeftIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#divHeaderPages {
    margin: .5rem;
    display: none;

    a {
        display: block;
        padding: .3rem;

        @media (prefers-color-scheme: dark) {
            color: var(--color-primaria);
            background-color: var(--color-secundaria);
        }
        
        @media (prefers-color-scheme: light) {
            color: var(--color-secundaria);
            background-color: var(--color-primaria);
        }
    }
}


/* ========================= */
/* MAIN */
/* ========================= */

/* DIVS */

#divMainShowFirst {
    align-items: center;

    @media (min-width: 750px) {
        display: grid;
        grid-template-columns: repeat(2, 50%)
    }
}

#divMainShowSecond {
    align-items: center;

    @media (min-width: 750px) {
        display: grid;
        grid-template-columns: repeat(2, 50%)
    }
}

#divMainShowThird {
    align-items: center;

    @media (min-width: 750px) {
        display: grid;
        grid-template-columns: repeat(2, 50%)
    }
}

/* P */

#pMainIntroduction {
    display: inline;
    color: var(--color-secundaria);
    background-color: var(--color-primaria);
    padding: .3rem;
    border-radius: .5rem;
}

#imgMainContactGitHub {
    @media (prefers-color-scheme: light) {
        filter: invert();
    }
}

#divFooter {
    padding: .1rem;
}

/* ========================== */
/* CONFIGURACOES */
/* ============================ */

#divConfiguracoes {
    padding: .6rem;

    @media (max-width: 550px) {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 551px) and (max-width: 924px) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    @media (min-width: 925px) {
        display: flex;
        justify-content: space-between;
    }
}

/* CALCULAR */

#calcularSelect {
    font: var(--font-primaria);
    font-weight: bold;

    padding: .5rem;
    margin: .5rem;

    border: 1px solid var(--color-terciaria);
    border-radius: .3rem;
    text-align: center;
}

#inputMathSecond {
    width: 15%;	
}